@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Rubik+Glitch&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed&family=Rubik+Glitch&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed&family=Rubik+Glitch&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#heading
{
    font-family: "Bebas Neue", sans-serif;
    font-size: 5vw;
}

#sub_heading
{
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

#hero_text
{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    max-width: 50%;
    margin-bottom: 2vw;
}

.account
{  
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    max-width: 50%;
    background-color: transparent ;
    border: 2px solid orange;  
    color: orange;
    margin-right: 1vw;
    width: 10vw;
    height: 5vh;
    transition: background-color .7s ease, color .7s ease;  
}

.account:hover
{
    background-color: orange;
    color: white;
    box-shadow: -10px 10px 15px rgba(87, 57, 0, 0.7);
}

#hero
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.505), rgba(0, 0, 0, 0.505)), url('../image/bg.jpg') no-repeat center / cover;
    color: white;
}

.container
{
    width: 90%;
    height: 100%;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.content
{
    width: 90%;
    height: 100%;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: column;
}

#main_data
{
    /* padding-top: 10vh; */
    width: 100%;
}

table
{
    width: 100%
}

table tr
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.element_photo
{
    position: relative;
    width: 14vw;
    height: 14vw; 
    max-width: 18vw;
    border-radius:50%; 
    background:rgb(158, 158, 158);  
    box-shadow: -5px 10px 15px rgba(122, 79, 0, 0.8); 
    border: 2px solid orange;
    transition: width .7s ease, height .7s ease, box-shadow, 0.7s ease;
    z-index: 1;
}

.element_info
{
    position: relative;
    width: 14vw;
    height: 15vw;
    top: -8vw;
    border-radius: 10%;
    max-width: 18vw;
    text-align: center;
    background: rgb(233, 233, 233);
    box-shadow: -5px 10px 15px rgba(122, 79, 0, 0.8); 
    border: 2px solid orange;
    color: orange;
    transition: background-color .5s ease, color .5s ease, width .5s ease, height .5s ease, box-shadow, .5s ease;
    z-index: 0;
}

.element_info h1
{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    max-width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.element:hover > .element_info      /*Interact with a child element (.element_info) of .element*/
{
    background-color: orange;
    color: white;
    width: 15vw;
    height: 15.5vw;
    box-shadow: -10px 15px 25px rgba(150, 97, 0, 0.8);
}

.element:hover > .element_photo     /*Interact with a child element (.element_info) of .element*/
{
    width: 15vw;
    height: 15vw;
    box-shadow: -10px 15px 25px rgba(150, 97, 0, 0.8);
}

.functional
{
    display: flex;
    width: 100%;
    max-width: 1400px;
    padding: 10vh 0 10vh 0;
    justify-content: space-between;
}

#sbar
{
    width: 50%;
    display: flex;
}

#search
{
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    border: 2px solid orange;  
    border-radius: 25px;
    transition: box-shadow .7s ease;
}

#search:hover
{
    box-shadow: 0px 0px 15px rgba(255, 173, 20, 0.7);
}

#sort, #filter
{
    width: 20%;
    position: relative;
    display: inline-block;
}

.functional_button
{
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    border: 2px solid orange;  
    color: orange;
    background-color: transparent;
    border-radius: 25px;
    transition: background-color .5s ease, color .5s ease, box-shadow .7s ease;
}

.functional_button:hover
{
    background-color: orange;
    color: white;
    box-shadow: -5px 5px 15px rgba(87, 57, 0, 0.7);
}

#sort_list
{   
    display: flex; 
}

ul
{
    list-style: none;
    text-align: center;
    /* display: none; */
}

li
{
    border: 1px solid;
    border-radius: 25px;
    font-size: 3vh;
    color: orange;
    margin: 1vh;
    font-family: "Montserrat", sans-serif;
    transition: background-color .5s ease, color .5s ease, box-shadow .7s ease;
}

li:hover
{
    background-color: orange;
    color: white;
    box-shadow: 0px 0px 15px rgba(255, 173, 20, 0.7);
}

#main
{
    width : 100%;
}

@media only screen and (max-width: 480px)
{
    .container
    {
        width: 100%;
        height: 100%;
        display: flex;
        max-width: none;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .hero_data
    {
        max-width: 80%;
    }

    #heading
    {
        font-family: "Bebas Neue", sans-serif;
        font-size: 15vw;
    }

    #sub_heading
    {
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        font-size: 8vw;
        padding-bottom: 4vw;
    }

    #hero_text
    {
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
        max-width: none;
        padding-bottom: 8vw;
    }

    .account
    {  
        max-width: none;
    }
}